.idea
*.iml
target
*.ipr
*.iws
*/*.iml
*/logs
*.classpath
*.project
*/*.classpath
*/*.project
*/*/*.project
*/*/*.classpath
*/*/*.iml
*/*/target
*/.settings
*/*/.settings
*/*/logs
proxy-api/target
proxy-manage/target
*/*/*/target
photo