@charset "UTF-8";
/* CSS Document */
#banner{width: 100%;  height:250px;  overflow: hidden; position:relative;}
#banner img {width: 100%; height: 100%;}

.auction{ width: 100%; position: relative; background: #fff; box-shadow: 0 0 30px #ccc;}
.msg-auct{ width: 86%; margin:0 auto; padding-top: 15px; border-bottom: 1px dotted #666;}
.msg-auct img{ width: 20px; height: 20px; float: left; margin:5px 10px;}
.msg-auct span{ display: inline-block;}
.msg-auct p{ font-size: 14px; margin: 8px 0; color:#6e6e6e; line-height: 22px;}
.title{ font-size: 20px;  margin-left:50px;}
.title h3{ font-size: 18px;}
.msg-time{ width: 86%; margin: 15px auto; font-size: 16px; font-weight: bold; padding-bottom:20px;}
.msg-time img{ width: 20px; margin: 0 10px;}
.msg-time span{ color:#f57e63; }
.seat{padding-left:45px;padding-top:5px; margin-top:5px; border-top:1px dotted #666;font-size:14px;line-height:30px;}

.auct-name{ width: 100%; position: relative; padding:20px 0; margin-bottom:4%; background: #fff; }
.msgname{ width: 90%; margin: 0 auto;}
.msgn{ width: 90%;margin: 0 auto; border-bottom:1px solid #ccc;}
.msgn span{ display:block;float:left;}
.msgbold{font-weight:600; color:#000;}
.msgname img{ width: 40px;}
.msgn p{font-size: 14px; display: inline-block; color:#808080; padding: 12px;}
.msgt p{font-size: 12px; display: inline-block; color:#808080; width:98%; padding: 6px;}
.msgt{width: 90%;margin: 0 auto;}
.msgt p span{display: inline-block;}
.msgname p{ font-size: 12px; display: inline-block; color:#808080; padding: 12px; width: 100%;}
.auct-span{ padding-left: 20px;}

#bg-auct{ position: absolute; background-color:rgba(149,147,148,.8); width: 100%; height: 100%; top:0; z-index: 99; display: none;}
.auct-success{ position: absolute; top:22%; left: 8%; width: 80%; height: 40%; z-index: 99; background: #fff; border-radius: 5px; padding: 2%}
.succ-top{ font-size: 16px; width: 100%;}
.succ-top p{ text-align: center;  margin:20px auto; float: left;}
.title-succ{ width: 80%;}
#close{ color:#ff825f; width: 20%; font-size: 24px; line-height: 10px; cursor: pointer;}
.msg-succ{ width: 86%; margin: 0 auto;}
.msg-succ img{ width: 120px; float: left;}
.msg-r{ float: left;  margin-left: 5%;}
.msg-r h4{font-size: 20px; border-bottom: 1px solid #666; padding-bottom: 20px; margin-bottom: 20px;}
.msg-r p{ font-size: 16px;color: #6e6e6e; padding-top: 5px;}

#price{ display: none;}
#deposit{ width: 100%; margin: 0 auto; line-height: 50px; font-size: 16px; text-align: center; color: #fff; background-color: #f57e63;}

#shareit {-webkit-user-select: none;display: none;position: fixed;width: 100%;height: 100%;text-align: center;top: 0;left: 0; z-index:999;}
#shareit img {width: 100%; height:100%;}

.auct-friend{ width:88%; position:relative; background:#fff; padding:6%; margin-bottom:4%;}
.auct-friend p{ font-size:14px; line-height:32px;}
.manual{ padding:20px 0; position:relative; width:100%; background:#fff; margin-bottom:50px;}
.manual p{ color:#000;}
.manual span{ font-weight:bold;}

.auct-progress{ height:36px; margin-left:20px;}
.auct-progress p{ float:left;}
.weui-progress{ width:70%; margin:8px 10px; float:left;}
.weui-progress__bar{ height:8px;}

.help{ width: 100%; height:50px; position: fixed; bottom：0; left:0; background:#f3f3f3; }
.otherchess{ width:40%; height: 100%; float: left; margin-left: 24px; color:#fff; font-size:16px;}
.footer{ border-top:none;}
