@charset "UTF-8";
/* CSS Document */
#banner{width: 100%;  height:580px;  overflow: hidden; position:relative; box-shadow: 0 0 30px #333;}
#banner .swiper-slide {position:relative;  text-align:center;  }
#banner img {  width: 100%;  }
.pagination {position: absolute;z-index: 20;bottom: 10px;width: 100%;text-align: center;right:0;
}
.msg{ border-bottom:2px solid #ccc; border-top: 2px solid #ccc; width:80%; margin:0 auto; padding:40px; text-decoration:none; list-style:none;}
#msglist{ position:absolute; top:640px; background-color:#fff; width:100%;}
.msg-left,.msg-right,.msg-author p{float:left;}
.msg-left{width: 14rem; height: 14rem;}
.msg-left img{width: 100%; height: 100%;}
.msg-right{width: 55%; margin-left: 100px;}
.msg-right p{ font-size:40px; color:#424242; line-height:80px;}
.msg-author{ width:100%;}
.msg-author img{ display:block; width: 50px; height:50px; float:left; margin:10px;}
.author{ font-weight:bold;}

#container{ position:absolute;width:100%;height:93%;top:7%;left:0px;}
#container img{width:100%; height:100%;}
.top{ position: absolute; top:20%; left: 20%;}
.top p{ color:rgb(96,27,77); font-weight:bolder;font-size: 3.2rem;}
.top span{color:rgb(255,193,64);}
.count{  font-size: 6rem;}
#center{ position: absolute; width: 77%; height: 49%; top:31%; left:12%; }
td{ display: block; width: 30%; height: 100%; float:left; margin-left: 2%;}
td span{width: 200px; height: 200px; position: absolute;}
#start{ border: none; background-color: #fff;}
.lot1{ background: url("../images/1000.png"); background-size: 100%; }
.lot2{ background: url("../images/1000.png"); background-size: 100%; }
.lot3{ background: url("../images/1000.png"); background-size: 100%; }
.lot4{ background: url("../images/1000.png"); background-size: 100%; }
.lot5{ background: url("../images/1000.png"); background-size: 100%; }
.lot6{ background: url("../images/1000.png"); background-size: 100%; }
.lot7{ background: url("../images/1000.png"); background-size: 100%; }
.lot8{ background: url("../images/1000.png"); background-size: 100%; }
#click{ background: url("../images/click.png"); background-size: 100%;}
#floatimg{ position:absolute; z-index:9; width: 100%; height:100%; top:0;  display: none;}
#floatimg img{width: 100%; height: 100%;}
#down{ position: absolute; bottom:20px; text-align: center; margin:0 auto; width: 100%;color:#fff;}
#down p{ font-size:3rem;}
.downarrow{ width: 3rem; height:3rem; text-align: center; background: url("../images/down.png") no-repeat; background-size: 100%; margin: 20px auto;}
#downlist{ position: absolute; width: 100%; height: 90%; top:110%;}
#downlist p{ font-size: 2.8rem; text-align: center;}
.list{ margin: 60px auto; width: 70%;}
.person{ width: 100%; line-height: 100px; margin:20px 0;}
.person img{ display:inline-block; width: 16%; margin:20px 40px; box-shadow: 0 20px 30px #ccc; border-radius: 50%;}
.person span{ font-size: 3rem;  letter-spacing: 2px;}
.name {font-weight: bold;}
.project{color:rgb(158,158,158);}