<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>签到</title>
    <link href="../static/css/sign.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/ratchet/weui.css" type="text/css">
    <script type="text/javascript" src="/ratchet/jquery-weui.js"></script>
</head>
<body>
<div class="cont" id="cont">
    <div class="md">
        <div class="mid-top">
            <div class="mid-left">
                <p class="drink">今天喝掉</p>

                <p class="ml"><span id="td_drunk">2000</span>ml</p>
            </div>
            <div class="mid-right">
                <p class="drink">当前喝掉</p>

                <p class="ml"><span id="cy_drunk">147.09</span>ml</p>
            </div>
        </div>
        <div class="other">
            <p>你给与别人干杯</p>
            <p style="font-weight: bold;">147.09ml</p>
        </div>
        <div class="help">
            <input type="button" value="我来帮忙灌水" class="otherchess" style="background-color: #FFB046;" onclick=""/>
            <input type="button" value="我也要领酒水券" class="otherchess" style="background-color: #89CF46;" onclick=""/>
        </div>
    </div>
</div>
</body>
</html>
